
.selector
  margin: 1em 0
  select
    margin: 0 1em

.fieldset
  animation: fadein 2s
  margin: 1em 0
  display: flex
  fieldset
    border: 0
    display: block
    > div
      display: flex
  fieldset
    margin: 0 .3em
  fieldset:first-child
    margin-left: 0

.expanded
  input
    background: yellow

.entry:local(.entry) input.input
  width: 100%
.entry
  width: 100%
  color: rgba(0,0,0,0.1)
.entry.expanded
  color black

.entry button
  visibility: hidden
.expanded button
.focused button
  visibility: visible

input.dirty
  visibility: visible
