
.form
  position: relative
  // width: 100px

.autocomplete
  background: white
  // position: absolute
  // left: 0
  // top: 0
  color: gray

.main
  background: transparent
  position: absolute
  // left: 0
  // right: 0

.suggestions
  display: block
  border: 1px dotted
  position: absolute
  background: white
  top: 2em
  li
    display: block
  li:not(:last-child)
    border-bottom: 1px dotted
