
.fieldset
  display: flex
  border: 1px dotted
  fieldset
    display: block
    > div
      display: flex

//
// .fieldset
//   display: block
//   border: 1px dotted

.expanded
  border: 1px dotted
  background: yellow
  input
    background: yellow


