
// .main
//   background: yellow

// .select-hierarchy
//   background: yellow
//   border: 1px dotted

.select-hierarchy:not(:first-of-type)
  margin-left: 1em

// .select-hierarchy:not(:first-of-type):before
//   // content: ' > '
