
@font-face
  font-family: 'logo'
  src: url('./jfrocout.ttf')
  // src: url('./the_kids_mraker.ttf')
  // src: url('./ka_boing.ttf')
  // src: url('./bd_cartoon_shout.ttf')
  // src: url('./yikes.ttf')
  // src: url('./beyond_wonderland.ttf')
  // src: url('./black_chancery.ttf')
