

blockquote:before
blockquote:after
  display: none

// :global *
//   // display: none
//   background: yellow

// .hello
//   background: blue

:global .content ol
  // list-style: decimal outside;
  margin-left: 0;
  // margin-right: 0;
  // margin-top: 0;

// :global .container
//   border: 1px dotted
//   margin: 1em
//   padding: 1em
//   // margin-left: 2em
//   // margin-right: 2em

// button:hover
//   text-decoration: underline
// button:focus
//   font-weight: bold



// button
//   width: 50%
//   +media-query(all, max-width 500px)
//     width: 80%
//   max-width: 400px
//   // margin: .5em auto
//   display: block

// button:hover
//   text-decoration: underline
// button:focus
//   font-weight: bold
